.App {
  text-align: center;
  padding: 2px;
  margin: 50px;
}

.field {
  height: 45px;
  width: 45px;
  border: 1px solid;
  margin-right: -1px;
  background-color: white;
  font-size: 45px;

}

.btn-dim {
  min-width: 75px !important;
  min-height: 75px !important;
  padding: 8px !important;
}

.ship-btn-dim {
  height: 50px;
  width: 50px;
}

.field-description {
  height: 75px;
  width: 75px;
  border: 0px;
  font-size: 20px;
  margin-right: -1px;
  background-color: white;
}

.row {
  padding: 0px;
  margin-top: -3px;
}

.board {
  float: left;
}

.interactions {
  float: left;
  margin: 50px;
  padding: 25px;
  width: 32%;
}

.inter-ship-select {
  margin: 1px;
  min-width: 120px !important;
}
